
body{
	margin:0;
	padding:0;
	overflow-y: scroll;
	box-sizing:border-box;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body p{
	overflow-y: scroll;
    font-size: 1rem;
    font-weight: 550;
	word-spacing: normal;
	line-height: 1.5;
	text-align: justify;
	overflow: hidden;
	
}

.hr{
	width: 100px;
	height: 3px;
	background-image: linear-gradient(to right, #025196 , white);
	border-radius: 15%;
	margin: auto;
	}
	

h1{
	color: #025196;
	font-size: 25px;
	font-weight: bold;
}
h5{
	font-size: 22px;
	color:#025196;
	font-weight: bold;
}
h3{
	font-size: 30px;
	color:#025196;
	font-weight: bold;
}
h2{
	font-weight: bold;
	color: #025196;

}

.clr{
	clear: both;
}


#logo {transition:0.4s ;}


.logo {
	width: 300px ;
}

.linear-gradient {

     /* clip-path: polygon(0% 0%, 0% 100%, 100% 50%, 100% 0%); */
	 background: linear-gradient(55deg, #FFFFFF 50%, #4174C0 50%);
}

/*our mission section*/
.mvv-container{
	max-width: 90%;
	margin: 50px auto 0px;
}
.mvv-container .mvv-block{
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.mvv-container .mvv-block .content{
	box-shadow: border-box;
	 border-radius: 10px solid#e9f2f4;
	 padding:30px;
	  
}	
.mvv-container .mvv-block .content h5{
	border-bottom: 10px;
}

#navbar{
  transition: 0.4s; 

}

#navbar a:hover {
	color: white;

  }
  #navbar a {
	  font-size: 20px;
  }
  #navbar a.active {
	color: white;
	font-weight: bold;
  }

.jumbotron{
	height: 400px; 
		
	}

.jumbotron h1 {
	padding-top:60px;
}

.jumbotron p{
	cursor: pointer;
	padding-top:60px;
	padding: 30px 150px;
}
.positions{
	padding: 30px;
}

@media screen and (max-width: 650px){
.logo {
		width: 50px ;
	}
	
.mvv-container .mvv-block .content{
	overflow-y: scroll;
	padding: 16px;
	
}

.mvv-container .mvv-block .image {
	width: 100%;
	display: block;
}

}
h3{
	padding: 10px 0px;
	font-weight: bold;
}


/* leadership*/
#imageLeadership img{
	width: 100%;
	border-radius: 5px;
}
.Leadership{
	padding: 40px;

}
.paraLeadership p{
	overflow: hidden;
}
.expertise{
	box-shadow: 10px gray;
}


/*//Expertise*/

.containerPortfolio{
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	}
.box{
	
	float: left;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 7px 7px gray;
	margin: 20px 0px;
	}
.box img{
	width: 100%;
	margin-bottom: 10px;
	
	border-radius:5px;
	

	}
.box h3{
	padding:0px 15px 15px 15px;
	}
.box h5{
	padding: 0 15px 15px 15px;
	}
.box p{
	/* height: 40%; */
	padding: 0 15px 15px 15px;
	}
#btn{
  background-color: rgb(6, 146, 146);
  color: #fff;
  padding: 10px 15px;
  margin: 15px;
  border-radius: 5px;
  float: right;
}
#btn:hover{
  background-color:black;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2)
}
@media screen and (max-width: 650px){
	.jumbotron h1{
		padding: 0px;
	}
	.jumbotron p{
		padding: 0px;
	}

	.box {
		  width: 100%;
		  display: block;
	}
	.box img{
		width: 100%;
	

  }

  #imageLeadership img{
	width: 100%;
	
}


}

	
/*//form style*/

.form-section{
	width: 100%;
}
#office p{
	padding:50px;
	overflow: auto;
	font-size: 20px;
}

@media screen and (max-width: 800px) {
	#office {
		padding: 0px;
	}
	.f-col ul {
		padding: 0;
		margin: 0;
	}
	.f-col{
		padding-bottom:15%;
	}
	
}
/* footer style*/
footer{
	background-image: linear-gradient(to right, white 50%,#025196);
}
.footer-logo{
    width:100%;
}
.f-col{
    padding-top:5%;
    padding-bottom:2%;
    box-sizing: border-box;
    color:gray;
}

.f-col ul{
    list-style: none;   
}
.f-col ul a{
    color: gray;  
}
